[submodule "libftest"]
	path = libftest
	url = https://github.com/jtoty/libftest
[submodule "Maintest"]
	path = Maintest
	url = https://github.com/QuentinPerez/Maintest
[submodule "moulitest"]
	path = moulitest
	url = https://github.com/yyang42/moulitest
