[submodule "libftest"]
	path = testing_suites/libftest
	url = https://github.com/jtoty/libftest
[submodule "Maintest"]
	path = testing_suites/Maintest
	url = https://github.com/QuentinPerez/Maintest
[submodule "moulitest"]
	path = testing_suites/moulitest
	url = https://github.com/yyang42/moulitest
[submodule "libft-unit-test"]
	path = testing_suites/libft-unit-test
	url = https://github.com/alelievr/libft-unit-test.git
[submodule "fillit_checker"]
	path = testing_suites/fillit_checker
	url = https://github.com/anisg/fillit_checker.git
